// ==========================================================================
//
// Save Dance
//
//

.save-dance {
	position: absolute;
	right:0px;
	bottom:90px;
    width:100%;
    padding-left: 485px;
    text-align: center;
}
.finished {
    height:50px;
    // position: absolute;
    // width:100%;
}