// ==========================================================================
//
// Stage edit
//
//

.stage-nav {
    height: 30px;
}

.stage-edit--btn {
    margin-right: 0.5em;
    margin-left: 0.5em;
}