<div class="container">
    
    <div class="credits--wrapper">
    
        <a class="js-credits-reveal credits--trigger">Credits</a>

        <p class="js-credits-proper credits--proper">
            Design &amp; Code by <a href="//hoverstud.io" target="_blank">Hover Studio</a>,
            Illustration by <a href="//www.timothywinchester.com/" target="_blank">Timonthy Winchester</a>
        </p>

    </div>

    <nav class="credits--donate">
        <span class="copy">Want to help kids learn to code? </span>
        <a href="//www.codeclub.org.uk/support-us" target="_blank" class="donate-link">Donate to Code Club</a>
    </nav>

    <div class="clearfix"></div>
    

</div>
<!-- .container -->