<div class="container">

    <a href="//www.codeclub.org.uk" target="_blank" class="header__cc-icon sprite--cc-icon"></span>

	<a class="header__robo-boogie-logo js-title-link sprite--robo-boogie-logo" href="#"></a>

    <nav class="site-navigation">
         <a href="/" class="site-navigation--link is-active">Create a Dancing Robot</a>
         {{! <a target="_blank" href="//roboboogie.codeclub.org.uk/competition/" class="site-navigation--link">Vote For A Winner</a> }}
         <a target="_blank" href="//roboboogie.codeclub.org.uk/competition/rules" class="site-navigation--link">About &amp; Rules</a>
    </nav>
	<div class="clearfix"></div>

</div>