<div class="robot-name--selector js-name">
    <p class="robot-name--your-robot">This robot's name is:</p>
    <div class="robot-name--words">
        <span class="js-prefix name--prefix">{{word_to_letters prefix}}</span>
        {{! <span class="l-spacer">-</span> }}
        <span class="js-firstname name--firstname">{{word_to_letters firstname}}</span>
        {{! <span class="l-spacer">-</span> }}
        <span class="js-surname name--surname">{{word_to_letters surname}}</span>
    </div>
</div>