// ==========================================================================
//
// Global variables
//
//

// Colours
$text:#4d4d4d;
$light:#999;
$header:#fff;
$background:#f8faf4;
$background-sidebar:#e3e6e1;
$robot-name-color:#ff2a38;
$ui-primary:#09f;
$ui-secondary:#ff1d46;


$facebook:#3b5998;
$twitter:#39c9cf;

// Sizes
$header-height:60px;

$robot-width:600px;
$robot-height:600px;

$slider-height:760px;
$slider-width:600px;

$robot-name-max-width: 700px;

$playlist-height:100px;